/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/

/*Menu Bar*/
@media (min-width: 976px) and (max-width: 1073px) {
    #ed-65674975{
        flex-basis: 45% !important;
    }

    .ed-element.preset-menu-v2-border>.inner {
        padding: 6px 6px 6px 6px;
    }

    #ed-65677169, #ed-65677196{
        margin: 0 5px !important;
    }
    .ed-element.preset-menu-v2-border .ed-menu>ul>li:not(:first-child) {
        margin: 0 0 0 7px !important;
    }
    .ed-element.preset-menu-v2-border .ed-menu>ul>li>a {
        padding: 1rem 10px 1rem 10px !important;
    }
}

@media (min-width: 603px) and (max-width: 975px) {
    #ed-65674978 {
        flex-grow: 0 !important;
    }
    #ed-65674972{
        flex-grow: 1 !important;
    }
}

@media (min-width: 516px) and (max-width: 602px) {
    #ed-65674978 {
        flex-grow: 0 !important;
    }
    #ed-65674972{
        flex-grow: 1 !important;
    }

    #ed-65677169, #ed-65677196{
        margin: 0 5px !important;
    }

    #ed-65677169 a.button, #ed-65677196 a.button{
        padding: 7px 15px !important;
        font-size: 16px !important;
    }
}

@media (min-width: 330px) and (max-width: 531px) {
    #ed-65674978 {
        flex-grow: 0 !important;
        order: 1;
    }
    #ed-65674972{
        flex-grow: 1 !important;
        order: 0;
    }

    #ed-65677169{
        order: 2;
        flex: 0 0 40% !important;
    }
    #ed-65677196{
        order: 3;
    }

    #ed-65674969 > .inner {
        justify-content: center !important;
    }

    #ed-65677169, #ed-65677196{
        margin: 20px 0 !important;
    }

    #ed-65677169 a.button, #ed-65677196 a.button{
        padding: 7px 15px !important;
        font-size: 16px !important;
    }
}

@media (min-width: 280px) and (max-width: 329px) {
    #ed-65674972 img {
        width: 120px !important;
    }

    #ed-65674978 {
        flex-grow: 0 !important;
        order: 1;
    }
    #ed-65674972{
        flex-grow: 1 !important;
        order: 0;
    }

    #ed-65677169{
        order: 2;
        flex: 0 0 40% !important;
    }
    #ed-65677196{
        order: 3;
    }

    #ed-65674969 > .inner {
        justify-content: center !important;
    }

    #ed-65677169, #ed-65677196{
        margin: 20px 0 !important;
    }

    #ed-65677169 a.button, #ed-65677196 a.button{
        padding: 7px 15px !important;
        font-size: 16px !important;
    }
}

/*Buttons*/
@media (min-width: 853px) and (max-width: 1123px){
    .btn-hm-1, .btn-hm-1-1 {
        font-size: 14px;
        padding: 15px 20px;
    }
}

@media (min-width: 773px) and (max-width: 852px){
    .btn-hm-1, .btn-hm-1-1 {
        font-size: 14px;
        padding: 12px 10px;
    }
}

@media (min-width: 736px) and (max-width: 772px){
    .btn-hm-1, .btn-hm-1-1 {
        font-size: 13px;
        padding: 12px 10px;
    }
}
@media (min-width: 697px) and (max-width: 735px){
    .btn-hm-1, .btn-hm-1-1 {
        font-size: 13px;
        padding: 7px 10px;
    }
    #ed-65701879{
        max-width: 45%;
        flex-basis: 50%;
        margin-right: 0;
    }
    #ed-65701885{
        max-width: 44%;
        flex-basis: 38%;
        margin-left: 0;
    }
}

@media (min-width: 615px) and (max-width: 696px){
    #ed-65776595 h1 {
        font-size: 25px;
    }
    .btn-hm-1, .btn-hm-1-1 {
        font-size: 11px;
        padding: 7px 10px;
    }
    #ed-65701879{
        max-width: 45%;
        flex-basis: 50%;
        margin-right: 0;
    }
    #ed-65701885{
        max-width: 44%;
        flex-basis: 38%;
        margin-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 614px){
    #ed-65776595 h1 {
        font-size: 22px;
    }
    .btn-hm-1, .btn-hm-1-1 {
        font-size: 10px;
        padding: 7px 10px;
    }
    #ed-65701879{
        max-width: 45%;
        flex-basis: 50%;
        margin-right: 0;
    }
    #ed-65701885{
        max-width: 44%;
        flex-basis: 38%;
        margin-left: 0;
    }
}

@media (min-width: 280px) and (max-width: 575px){
    #ed-65701879 {
        margin-bottom: 5px;
    }
    #ed-65701885 {
        margin-top: 5px;
    }
    .btn-hm-1, .btn-hm-1-1 {
        padding: 12px 17px;
    }
}

/*Homepage*/
@media (min-width: 280px) and (max-width: 575px){
    #ed-65785399, #ed-65785408, #ed-65785411{
        margin-bottom: 60px;
        margin-top: 60px;
    }
}
